<html lang="en">
    <%- include("./header.ejs") %>
<body>
    <h1 class="center">Reinsdyr er kule</h1>
    <h2 class="center">Dette er en veldig seriøs organisasjon med veldig seriøse business modeller med mange innovasjoner og bærekraftige mål for å nå en bedre verden i dagens samfunn<h2>
    <br>
    <h2 class="center">Vil du bruke vår fine database med mange seriøse og veldig innovative funksjoner? trykk på teksten <a href="/search">HER</a></h2>
    <br>
    <h2 class="center">Ellers gå tilbake til index siden vår <a href="/">HER</a></h2>
    <%- include("./footer.ejs") %>
</body>
</html>