<html lang="en">
    <%- include("./header.ejs") %>
<body>
    <div>
        <h1 id="main-title">Reinsdyrregisteret</h1>
    </div>
    <div id="content-wrapper-about">
        <a href="/about"><h1>Om Registeret</h1></a>
    </div>
    <div id="content-wrapper-kart">
        <a href="/kart"><h1>Kart</h1></a>
    </div>
    <div id="content-wrapper-search">
        <a href="/search"><h1>Søk</h1></a>
    </div>
    <%- include("./footer.ejs") %>
</body>
</html>