<html lang="en">
    <%- include("./header.ejs") %>
<body>
    <h1>Kart over samiske spr책komr책der</h1>
    <img id="kart-bilde" src="https://media.snl.no/media/21401/standard_samiske-spr_k.svg" alt="bilde av samiske spr책komr책der" width="50%" height="50%">
</body>
</html>