<html>
    <%- include("./header.ejs") %>
<body>
    <div>
        <form class="search">
            <input type="text" name="search" placeholder="Søk etter navn">
        </form>
    </div>
    <%- include("./footer.ejs") %>
</body>
</html>