body {
    background-color: aliceblue;
}

footer {
    background-color: white;
    text-align: center;
}

#main-title {
    font-size: 4em;
    text-align: center;
}

.content-wrapper-index {
    text-align: center;
}

.center {
    text-align: center;
}

#kart-bilde {
    display: block;
    margin: 0 auto;
}

.filtered{
    display: none !important;
}

.result-item {
    background-color: lightgray;
    border: 2px;
    border-color: red;
    margin-bottom: 50px;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
}

.result-li {
    margin-top: 20px;
    list-style-type: none;
}

.result-img {
    margin-right: 20px;
}

.heading-wrap {
    margin-right: 20px;
}